$nonres-medium-width: 350px;
$nonres-small-width: 170px;
$nonres-medium-general-spacing: 25px;
$nonres-small-general-spacing: 5px;
$nonres-small-height: 40px;
$nonres-small-borderRadius: 12px;
$nonres-p-fontSize: 17px;
$nonres-h1-fontSize: 25px;

$standard-black: #191919;
$standard-purple-pink: rgb(230, 0, 250);
$standard-green: rgb(0, 200, 50);

.Chat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;

    > :nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid $standard-black;
        width: $nonres-medium-width;
        height: 100%;

        > :nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;

            > p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $nonres-h1-fontSize;
                margin-top: $nonres-medium-general-spacing;
                width: 100%;
            }

            > div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $standard-black;
                width: 100%;

                > button {
                    color: white;
                    background-color: $standard-black;
                    border: none;
                    border-radius: $nonres-small-borderRadius;
                    margin: $nonres-small-general-spacing 0;
                    width: calc($nonres-medium-width - $nonres-medium-general-spacing*2);
                    height: $nonres-small-height;
                }

                > :nth-child(2) {
                    margin-bottom: $nonres-medium-general-spacing;
                }
            }
        }

        > :nth-child(2){
            position: relative;
            top: $nonres-medium-general-spacing;
            left: $nonres-medium-general-spacing;
            width: calc($nonres-medium-width - ($nonres-medium-general-spacing * 2));
            overflow-x: hidden;

            > :nth-child(1){
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 0 0 $nonres-medium-general-spacing 0;

                > input {
                    border-radius: calc(($nonres-small-height - $nonres-small-general-spacing/2)/2);
                    padding: $nonres-small-general-spacing;
                    height: calc($nonres-small-height - $nonres-small-general-spacing*2);
                    width: calc($nonres-small-width - $nonres-small-general-spacing*2);
                }

                > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    height: $nonres-small-height;

                    > button {
                        border: 1px solid $standard-black;
                        border-radius: $nonres-small-borderRadius;
                        background-color: $standard-purple-pink;
                        cursor: pointer;
                        width: calc($nonres-small-width/2);
                    }
                }
            }

            > .Interacted {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border: 1px solid $standard-black;
                height: $nonres-small-height;
                cursor: pointer;
            }
        }
    }

    > :nth-child(2){
        display: grid;
        grid-template-rows: 85% 15%;
        grid-template-columns: 100%;
        width: calc(100vw - $nonres-medium-width);
        height: 100vh;

        > :nth-child(1){
            overflow-y: scroll;
        }

        > :nth-child(2){
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-top: 1px solid $standard-black;

            > input{
                width: 80%;
                height: $nonres-small-height;
                border-radius: $nonres-small-borderRadius;
            }

            > button{
                background-color: $standard-green;
                width: $nonres-small-width;
                height: $nonres-small-height;
                border-radius: $nonres-small-borderRadius;
            }
        }
    }
}


